*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfd96;
}
header h1{
    font-size: 30px;
    color: black;
}
main{
    width: 100vw;
    height: auto;
    padding-top: 30px;
    background-color: cornflowerblue;
}
main .formulario{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .formulario h2{
    padding-bottom: 30px;
}
main .formulario form{
    display: flex;
    flex-direction: column;
}
main .formulario form label{
    margin: 10px 0px;
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .formulario form label input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 0 5px;
}
main .formulario form div{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
main .formulario form div button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #eee;
}
main .formulario form #btnGuardar{
    background-color: darkgreen;
    cursor: pointer;
}
main .formulario form #btnCancelar{
    background-color: darkred;
    cursor: pointer;
}

main .lista{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .lista .listaAmigos{
    display: flex;
    flex-direction: column;
}
main .lista .listaAmigos div{
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
main .lista .listaAmigos p{
    font-weight: bold;
    color: black;
}
main .lista .listaAmigos div button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    color: azure;
    cursor: pointer;
}

.detallesAmigo{
    width: 400px;
    height: 400px;
    top: calc(50vw - 800px);
    left: calc(50vw - 200px);
    background-color:#fafcdc;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.detallesAmigo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.detallesAmigo h3{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
.detallesAmigo p span{
    font-weight: bold;
    font-style: italic;
}
.detallesAmigo button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color:cornflowerblue;
    cursor: pointer;
}
.oculto{
    display: none;
}

.AvisoEliminar{
    width: 400px;
    height: 400px;
    top: calc(50vw - 800px);
    left: calc(50vw - 200px);
    background-color:#fafcdc;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.AvisoEliminar p{
    margin-top: -100px;
}
.AvisoEliminar .botonesEliminar{
display: flex;
    justify-content: space-between;
   gap: 300px;
}
.ocultar{
    display: none;
}